absl-py==1.4.0
alabaster 
altair==4.2.2
anyio 
appdirs==1.4.4
applaunchservices 
appnope 
appscript 
argon2-cffi 
argon2-cffi-bindings 
arrow 
astroid 
astropy 
asttokens 
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs 
Automat 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot 
black 
bleach 
blinker==1.5
bokeh 
boltons 
Bottleneck 
branca==0.6.0
brotlipy==0.7.0
cachetools==5.3.0
certifi 
cffi 
chardet 
charset-normalizer 
click 
cloudpickle 
colorama 
colorcet 
comm 
constantly==15.1.0
contourpy 
cryptography 
cssselect==1.2.0
cycler 
cytoolz 
datashader 
debugpy 
decorator 
defusedxml 
diff-match-patch 
distributed 
docopt==0.6.2
docutils 
entrypoints 
et-xmlfile==1.1.0
exceptiongroup==1.1.0
executing 
Faker==18.9.0
fastjsonschema 
favicon==0.7.0
filelock 
flake8 
flatbuffers==23.3.3
flit_core 
folium==0.14.0
fonttools==4.25.0
fsspec 
future 
gast==0.4.0
gensim 
gitdb==4.0.10
GitPython==3.1.31
glob2 
gmpy2 
greenlet 
grpcio==1.53.0
h11==0.14.0
h5py 
haversine==2.8.0
HeapDict 
holoviews 
htbuilder==0.6.1
hvplot 
hyperlink 
idna 
imagesize 
imbalanced-learn 
importlib-metadata 
importlib-resources 
incremental 
inflection==0.5.1
iniconfig 
intake 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itemadapter 
itemloaders 
itsdangerous 
jax==0.4.8
jedi 
Jinja2 
jinja2-time 
jmespath 
joblib 
json5 
jsonpatch 
jsonpointer==2.1
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.1
jupyter-server 
jupyter_core 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
libclang==16.0.0
llvmlite==0.39.1
locket 
lxml 
lz4 
Markdown 
markdown-it-py==2.2.0
markdownlit==0.0.7
MarkupSafe==2.1.2
matplotlib 
matplotlib-inline 
mccabe==0.6.1
mdurl==0.1.2
mistune 
ml-dtypes==0.0.4
mock 
more-itertools==9.1.0
mpmath==1.2.1
msgpack 
multipledispatch 
munkres==1.1.4
mypy-extensions==0.4.3
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
notebook 
notebook_shim 
numba 
numexpr 
numpy 
numpydoc 
oauthlib==3.2.2
openpyxl==3.0.10
opt-einsum==3.3.0
outcome==1.2.0
packaging 
pandas==1.5.3
pandocfilters 
panel 
param 
parsel==1.7.0
parso 
partd 
pathlib 
pathspec 
patsy==0.5.3
pexpect 
pickleshare 
Pillow==9.4.0
pipreqs==0.4.13
pkginfo 
platformdirs 
plotly==5.13.1
pluggy 
pooch 
poyo 
prometheus-client 
prompt-toolkit 
Protego 
protobuf==3.20.3
psutil 
ptyprocess 
pure-eval 
py 
pyarrow==11.0.0
pyasn1 
pyasn1-modules==0.2.8
pycosat 
pycparser 
pyct 
pycurl==7.45.1
pydeck==0.8.0
PyDispatcher==2.0.5
pydocstyle 
pyerfa 
pyflakes 
Pygments==2.14.0
pyls-spyder==0.4.0
pymdown-extensions==10.0.1
Pympler==1.0.1
pyodbc 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
pytest==7.1.2
python-dateutil 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify 
python-snappy 
pytoolconfig 
pytz 
pytz-deprecation-shim==0.1.0.post0
pyviz-comms 
PyWavelets 
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib==1.5.0
regex 
requests 
requests-file 
requests-oauthlib==1.3.1
rich==13.3.2
rope 
rsa==4.9
Rtree 
ruamel.yaml 
ruamel.yaml.clib 
scikit-learn 
scipy==1.10.0
seaborn 
selectorlib==0.16.0
semver==2.13.0
Send2Trash 
service-identity 
six 
smart-open 
smmap==5.0.0
sniffio 
snowballstemmer 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
st-annotated-text==4.0.0
stack-data 
statsmodels 
streamlit==1.22.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-embedcode==0.1.2
streamlit-extras==0.2.7
streamlit-faker==0.0.2
streamlit-folium==0.11.1
streamlit-image-coordinates==0.1.3
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
sympy 
tables 
tabulate 
tblib 
telraam-data==0.2.3
termcolor==2.2.0
terminado 
text-unidecode 
textdistance 
threadpoolctl 
three-merge 
tifffile 
tinycss2 
tldextract 
tokenizers 
toml 
tomli 
toolz 
tornado 
tqdm 
traitlets 
transformers 
trio==0.22.0
trio-websocket==0.9.2
Twisted 
typing_extensions 
tzdata==2022.7
tzlocal==4.2
ujson 
Unidecode 
urllib3 
validators==0.20.0
w3lib==2.1.1
watchdog 
wcwidth 
wrapt 
wsproto==1.2.0
wurlitzer 
xarray 
xlwings 
yapf 
yarg==0.1.9
zict==2.1.0
zipp 
zope.interface 
zstandard 
